{% extends './base.html' %}
{% block titulo %}Gestión de cursos {% endblock titulo %}

{% block body %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="error">{{error}}</div>
        <h1>Adicionar de Curso</h1>
        <div class="card">
            <div class="card-body">               
                <form action="/registrarCurso/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código" required>
                    </div>  
                    <div class="form-group">  
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required maxlength="50">
                    </div>
                    <div class="form-group">
                        <input type="text" id="creditos" name="creditos" class="form-control" placeholder="Créditos" required minlength="1" maxlength="9">
                    </div>
                    <div class="form-group acciones">
                        <button type="submit" class="btn btn-success btn-block text-white" >Salvar</button>
                         <a href="/" id="cancel" name="cancel" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}