{% extends './base.html' %}
{% block titulo %}Gestión de cursos {% endblock titulo %}

{% block body %}

<div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    <h1>Gestión de Curso</h1>
    <div class="card">
        <div class="card-body">
            <form action="/registrarCurso" method="post">
                <div class="form-group">
                    <input type="text" id="codigo" name="codigo" class="form-control" placeholder="Código" minlength="6" maxlength="6" required>
                </div>  
                <div class="form-group">  
                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" required maxlength="50">
                </div>
                <div class="form-group">
                    <input type="text" id="creditos" name="creditos" class="form-control" placeholder="Créditos" required minlength="1" maxlength="9">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white" >Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Cursos</h1>
        <div class="table-responsive">            
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Creditos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cursos %}
                        <tr>
                            <td>{{c.codigo}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.creditos}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock body %}
